html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

.center {
  margin: 20px 0px;
  text-align: center;
  bottom: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

.button {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

p {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
